---
import PastEventos from '../../components/evento/PastEventos.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout
    title="Eventos ya celebrados de poker en vivo de España - Torneos Poker Live"
>
    <h2 class="text-2xl font-bold py-4">Eventos live pasados</h2>
    <div class="space-y-0.5">
        <PastEventos />
    </div>
</Layout>
