---
import CardCasino from './CardCasino'
import { getCasinos } from '../../lib/api'

const casinos = await getCasinos()
---

<h1 class="text-2xl font-bold py-4">Casinos</h1>
<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
    {casinos.map((casino) => <CardCasino casino={casino} />)}
</div>
