---
import Layout from '../layouts/Layout.astro'
---

<Layout title="No encontrado - Torneos Poker Live">
    <main class="mx-10">
        <h2 class="text-center mt-10 text-2xl font-bold py-4">
            No hemos encontrado lo que buscas
        </h2>
        <div class="text-center mt-4 space-x-4">
            <a class="btn" href="/"> Volver al inicio</a>
        </div>
    </main>
</Layout>
