---
import CardTour from '../components/tour/CardTour'
import Layout from '../layouts/Layout.astro'

import { getCircuitos } from '../lib/api'

const circuitos = await getCircuitos()
---

<Layout title="Casinos de España - Torneos Poker Live">
    <main class="mx-5">
        <h1 class="text-2xl font-bold py-4">Circuitos</h1>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
            {circuitos.map((tour) => <CardTour tour={tour} />)}
        </div>
    </main>
</Layout>
