---
import CurrentEventos from '../components/evento/CurrentEventos.astro'
import NextEventos from '../components/evento/NextEventos.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
    title="Todos los eventos de poker en vivo de España - Torneos Poker Live"
>
    <CurrentEventos />
    <NextEventos />
    <div class="mt-10">
        <a class="btn" href="/eventos/pasados"> Ver eventos pasados</a>
    </div>
</Layout>
