---
import Layout from '../layouts/Layout.astro'
import TodayTorneos from '../components/tournament/TodayTorneos.astro'
import TomorrowTorneos from '../components/tournament/TomorrowTorneos.astro'
import NextEventos from '../components/evento/NextEventos.astro'
---

<Layout title="Torneos Poker Live">
    <TodayTorneos />
    <TomorrowTorneos />
    <div>
        <h2 class="text-2xl font-bold py-4">Próximos eventos live</h2>
        <div class="space-y-2">
            <NextEventos />
        </div>
        <div class="text-right mt-4">
            <a class="btn" href="/eventos"> Ver Todos</a>
        </div>
    </div>
</Layout>
